body{
    background:linear-gradient() ;
    padding: 15px;
    font-family: Verdana;
}
ch1{
    text-align: center;
    color:white;
    background: teal;
    padding: 5px;


}

ch2{
    color: white;
    background: teal;
    padding: 5px;
    box-shadow: thistle;


}
.coloumn1{
 width:48%;
 float: left;

}

.photo{
    box-shadow: 4px 4px thistle;


}

#robots{

}